nav {
  margin-bottom: 1em !important;
}

.cart {
  box-shadow: 0 0 5px #ddd;
  padding: 20px;
}

.tiny {
  background-color: rgba(208, 115, 28, 0.896) !important;
  border-radius: 4px;
}

a {
  color: rgb(219, 130, 7) !important;
}

