nav {
  margin-bottom: 1em !important;
}

.cart {
  box-shadow: 0 0 5px #ddd;
  padding: 20px;
}

.tiny {
  background-color: rgba(208, 115, 28, 0.896) !important;
  border-radius: 4px;
}

a {
  color: rgb(219, 130, 7) !important;
}

.btn-primary{
  background-color: rgb(82, 169, 53);
  border-color: rgb(101, 169, 53);
}

.btn-danger{
  background-color: rgb(230, 75, 75);
}

.btn-primary:hover{
 background-color:rgb(82, 169, 53);
}